body{
    background-color: #f4f4f4;
    color: #555;
    font: normal 16px Arial, Helvetica, Sans-serif;
    line-height: 1.6em;
    margin: 0;
}

a{
    text-decoration: none;
    color: rgb(54, 54, 54);
}


button:hover{
    background-color: coral;
}

.container{
    width: 80%;
    margin: auto;
}

#mainnav{
    background-color: coral;
    position:relative;
    height: 50px;
}

#mainnav ul{
    text-align: right;
    margin: auto;
    margin-right: 50px;
    position: relative;
    top: -45px;

}

#mainnav li{
    display: inline;
    padding-right: 15px;
    font-size: 18px;
    font-weight: bold;

}

#mainnav a:hover{
     color: white;
}