/*Generic Global CSS */

body{
    background-color: #f4f4f4;
    color: #555;
    font: normal 16px Arial, Helvetica, Sans-serif;
    line-height: 1.6em;
    margin: 0;
}

a{
    text-decoration: none;
    color: rgb(54, 54, 54);
}


button:hover{
    background-color: coral;
}

button:active{
    background-color: rgb(201, 102, 66);
}

.container{
    width: 80%;
    margin: auto;
}

/*---------------------------------------------------------------------
---------------------------------------------------------------------
---------------------------------------------------------------------
---------------------------------------------------------------------
---------------------------------------------------------------------
---------------------------------------------------------------------
---------------------------------------------------------------------
---------------------------------------------------------------------
---------------------------------------------------------------------*/

/* Space below is for Home/ Index page*/

#mainnav{
    background-color: coral;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mainnav li{
    display: inline;
    padding-right: 15px;
    font-size: 18px;
    font-weight: bold;

}

#mainnav a:hover{
     color: white;
}

#mainfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: grey;
    font-size: 18px;
    color: white;
    min-height: 50px;
}

/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
------------------------------------------------------------------------------
------------------------------------------------------------------------------
------------------------------------------------------------------------------
------------------------------------------------------------------------------
------------------------------------------------------------------------------
------------------------------------------------------------------------------
------------------------------------------------------------------------------
-----------------------------------------------------------------------------*/

/* Space below is for Projects Page*/

#Pheader h1{
    margin-top: 0px;
    min-height: 100px;
    margin-bottom: 100px;
    background-image:url(../Css/Assets/Fun\ coral.jpg) ;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Pheader h2{
    text-align: center;
}

#psection  h3{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: dotted lightseagreen 2px;
}

#psection p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

#Notesor h3{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: dotted lightseagreen 2px;
}


#Notesor ul{
    list-style: none;
}

#Notesor a{
    text-decoration: none;
    color: rgb(226, 221, 221);
}


