body{
    background-color: #f4f4f4;
    color: #555;
    font: normal 16px Arial, Helvetica, Sans-serif;
    line-height: 1.6em;
    margin: 0;
}

a{
    text-decoration: none;
    color: rgb(54, 54, 54);
}


button:hover{
    background-color: coral;
}

.container{
    width: 80%;
    margin: auto;
}

#mainnav{
    background-color: coral;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mainnav li{
    display: inline;
    padding-right: 15px;
    font-size: 18px;
    font-weight: bold;

}

#mainnav a:hover{
     color: white;
}







#mainfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: grey;
    font-size: 18px;
    color: white;
    min-height: 50px;
}